In [1]:
def say_hello():
    print('hello')

In [2]:
say_hello()

hello

In [3]:
def say_hello(name):
    print(f"hello {name}")

In [5]:
say_hello('mad')

hello mad

In [6]:
def add_num(num1,num2):
    return num1+num2

In [7]:
add_num(3,5)

8

In [8]:
#even check
def even_check(number):
    return number%2==0

In [9]:
even_check(20)

True

In [10]:
even_check(25)

False

In [11]:
#return true if any num is even inside a list

In [33]:
def check_even_list(num_list):
    
    even_num = []
    
    for x in num_list:
        if x % 2 == 0:
            even_num.append(x)
        else:
            pass
    return even_num
    print(even_num)

In [34]:
check_even_list([1,3,2,7])

[2]

In [35]:
check_even_list([2,3,4])

[2, 4]

In [36]:
check_even_list([1,3,6])

[6]

In [37]:
#TUPLE UNPACKING

In [38]:
stock_prices=[('appl',200),('goog',400),('msft',100)]

In [43]:
work_hours=[('abby',100),('billy',4000),('Cassie',800)]

In [44]:
def emp_check(work_hours):
    cur_max=0
    emp_of_thr_mnt=''
    
    for employee,hours in work_hours:
        if hours > cur_max:
            cur_max=hours
            emp_of_thr_mnt=employee
        else:
            pass
    return(emp_of_thr_mnt,cur_max)

In [45]:
emp_check(work_hours)

('billy', 4000)

In [46]:
name,hours=emp_check(work_hours)

In [47]:
name

'billy'

In [48]:
hours

4000

In [50]:
example=[1,2,3,4,5,6,7]

In [51]:
from random import shuffle

def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [58]:
result = shuffle_list(example)

In [59]:
result

[1, 7, 2, 3, 6, 4, 5]

In [60]:
#THREE CUP MONTEE

In [61]:
mylist=['','O','']

In [62]:
shuffle_list(mylist)

['', '', 'O']

In [63]:
def player_guess():
    
    guess=''
    while guess not in ['0','1','2']:
        guess= input("pick a spot 0,1 or 2: ")
        
    return int(guess)

In [64]:
player_guess()

pick a spot 0,1 or 2: 54
pick a spot 0,1 or 2: 4
pick a spot 0,1 or 2: 6
pick a spot 0,1 or 2: 1

1

In [74]:
def check_guess(mylist,guess):
    if mylist[guess]=='O':
        print("Correct")
    else:
        print("wrong")
        print(mylist)

In [76]:
#initial list
mylist=['','O','']
#shuffle list
mixed_list= shuffle_list(mylist)
#user guess
guess = player_guess()
#check guess
check_guess(mixed_list,guess)

pick a spot 0,1 or 2: 6
pick a spot 0,1 or 2: 1
wrong
['', '', 'O']

In [1]:
# *args and **kwargs
#

In [4]:
# *args are like a general term for many no of arguments 
def myfunc(*args):
    return sum(args)*0.05

In [5]:
myfunc(100,500)

30.0

In [6]:
myfunc(5,6,5,344)

18.0

In [8]:
myfunc(23,4,24,2424,242545)

12251.0

In [9]:
def myfunc(*args):
    for i in args:
        print(i)

In [10]:
myfunc(3,43,233)

3
43
233

In [11]:
myfunc('a',25,'sdfs')

a
25
sdfs

In [15]:
# **kwargs retuns a dictionary
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('the fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('no fruit here')

In [16]:
myfunc(fruit='apple')

{'fruit': 'apple'}
the fruit of choice is apple

In [17]:
myfunc(fruit = 'apple',veggie ='cucumber')

{'fruit': 'apple', 'veggie': 'cucumber'}
the fruit of choice is apple

In [19]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print("i woukd like {} {}".format(args[0],kwargs['food']))

In [20]:
myfunc(10,20,30,fruit='apple',food='egg',animal='lion')

(10, 20, 30)
{'fruit': 'apple', 'food': 'egg', 'animal': 'lion'}
i woukd like 10 egg

In [21]:
def myfunc(strng):
    i=0
    while i < len(strng):
        if strng[i %2 ==0]:
           strng[i].upper
        else:
           strng[i].lower
        i += 1
    return strng

In [22]:
myfunc('haSkxnas')

'haSkxnas'

In [23]:
def myfunc(a):
    result=""
    for x in range(0,len(a)):
        if x%2==0:
            result=result+a[x].upper()
        else:
            result=result+a[x].lower()
    return result

In [24]:
myfunc('ubicn')

'UbIcN'

In [25]:
myfunc('SXiidc')

'SxIiDc'

In [26]:
#ASSESMENTS

In [33]:
#volume of a sphere
import math
def vol(rad):
    pi=math.pi
    return (4/3)*pi* (rad**3)

In [34]:
vol(2)

33.49333333333333

In [35]:
#if no is in a given range
def ran_check(num,low,high):
    if num in range(low,high+1):
        print('yes')
    else:
        print('no')

In [36]:
ran_check(5,2,7)

yes

In [37]:
ran_check(5,6,8)

no

In [38]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        return True
    else:
        return False

In [39]:
ran_check(5,6,8)

False

In [40]:
#calculates the number of upper case letters and lower case letters.
def up_lows(strng):
    up=0
    low=0
    for i in range(0,len(strng)):
        if strng[i].isupper():
            up +=1
        elif strng[i].islower():
            low +=1
        else:
            pass
    print('up ={},low={}'.format(up,low))

In [41]:
up_lows('Hello Mr. Rogers, how are you this fine Tuesday?')

up =4,low=33

In [44]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list.
def func(lis):
    uni_lis=set(lis)
    new_lis=list(uni_lis)
    
    return new_lis

In [45]:
func([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [51]:
#Write a Python function to multiply all the numbers in a list.
def multiply(numbers):
    prod=1
    for i in numbers:
        prod=i*prod
    return prod

In [50]:
multiply([1, 2, 3, -4]
)

-24

In [12]:
def palindrome(stf):
    stfe= stf.replace(" ","")
    if stfe[0::] == stfe[::-1]:
        print('True')
    else:
        print('f')

In [15]:
palindrome("mr owl ate my metal worm")

True

In [36]:
import string
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset=set(alphabet)
    
    str1 = str1.replace(" ",'')
    str1 = str1.lower()
    str1 = set(str1)
    
    return str1==alphaset

In [39]:
ispangram("te quick brown fox jumps over the lazy dog")

True

In [51]:
#Function Practice Exercises

#1
def lesser_of_two_evens(a,b):
    if a % 2==0 and b % 2==0:
        return min(a,b)
    else:
        return max(a,b)

In [52]:
# Check
lesser_of_two_evens(2,7)

7

In [53]:
lesser_of_two_evens(9,11)

11

#2

In [65]:
def animal_crackers(text):
    txt = text.split(" ")
    return txt[0][0] ==  txt[1][0]

In [66]:
animal_crackers('Levelheaded Lilama')

True

In [68]:
animal_crackers('Crazy kangaroo')

False

In [70]:
#3

In [71]:
def makes_twenty(n1,n2):
    return n1+n2==20 or n1==20 or n2==20

In [72]:
# Check
makes_twenty(20,10)

True

In [73]:
# Check
makes_twenty(2,3)

False

In [74]:
#4

In [144]:
def old_macdonald(name):
    if len(name)>3:
        name=name.capitalize()
        name=name.replace(name[3],name[3].upper())
        return name
    else:
        print('Name is too short!')

In [145]:
old_macdonald('macdonald')

'MacDonalD'

In [83]:
#5

In [90]:
def master_yoda(text):
    text=text.split(" ")
    text.reverse()
    new_txt=" ".join(text)
    return new_txt

In [91]:
master_yoda('I am home')

'home am I'

In [92]:
master_yoda('We are ready')

'ready are We'

In [94]:
#6

In [98]:
def almost_there(n):
    return abs(n-100)<=10 or abs(n-200) <=10

In [102]:
almost_there(201)

True

# LEVEL 2 PROBLEMS

In [129]:
#1


def has_33(nums):
    i=0
    flag=False
    for num in range(0,len(nums)-1):
        if nums[i]==nums[i+1]:
            flag=True
        else:
            i+=1
    return flag

In [130]:
has_33([1, 3, 1, 3])

False

In [131]:
has_33([1, 3, 3])

True

In [132]:

# Check
has_33([3, 1, 3])

False

In [146]:
#2

def paper_doll(text):
    result=''
    for char in text:
        result += char * 3
    return result

In [147]:

paper_doll('Hello')

'HHHeeellllllooo'

In [149]:
#3

def blackjack(a,b,c):
    s = a+b+c
    if s <= 21:
        return s
    elif s <= 31 and 11 in (a,b,c):
        return s-10
    else:
        return "bust"

In [150]:
blackjack(5,6,7)

18

In [151]:
blackjack(9,9,9)

'bust'

In [152]:
blackjack(9,9,11)

19

In [158]:
#4

def summer_69(arr):
    total =0
    add = True
    for num in arr:
        while add:
            if num !=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add=True
                break
    return total

In [159]:
summer_69([1, 3, 5])

9

In [160]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

##CHALLENGING PROBLEMS

In [162]:
#SPY GAME: Write a function that takes in a list of integers 
#and returns True if it contains 007 in order

In [188]:
def spy_game(nums):
    j=0
    flag=False
    for i in range(len(nums)):
        if nums[j] ==0 and nums[j+1]==0 and nums[j+2]==7:
            flag=True
        else:
            j+=1
    return flag

In [189]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [190]:

spy_game([1,0,2,4,0,5,7])

False

In [191]:
spy_game([1,7,2,0,0,0])

IndexError: list index out of range

In [192]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [193]:
spy_game([1,7,2,0,0,0])

False

In [197]:
#3 COUNT PRIMES:

def count_primes(num):
    primes=[2]
    x=3
    if num < 2:
        return 0
    while x <= num:
        for y in range(3,x,2):
            if x % y==0:
                x += 2
                break
        else:
            primes.append(x)
            x +=2
    print(primes)
    return len(primes)

In [198]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [199]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [200]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [201]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [206]:
print_big('c')

*****
*
*
*
*****